{% extends "base.html" %}

{% block title %}Task manager{% endblock %}

{% block content %}

<h1>Task manager</h1>

<form method="post">
  <input type="text" name="task_text" placeholder="Enter your task..."/>
  <input type="submit" value="Add task"/>
</form>

<table>

  <tr>
    <th>Task</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>

  {% for task in tasks %}

    <tr>
      <td>{{ task.task_text }}</td>
      <td>{{ task.created.date() }}</td>
      <td>
        <form>
          <button class="red" formaction="/delete/{{task.task_id}}">Delete</button>
          <button class="blue" formaction="/update/{{task.task_id}}">Update</button>
        </form>
      </td>
    </tr>

  {% endfor %}

</table>

{% endblock %}